language: java

jdk:
- openjdk8

sudo: true

services:
  - docker

script: mvn clean install

deploy:
  provider: releases
  skip_cleanup: true

  on:
    tags: true
    all_branches: true
    repo: hakdogan/ElasticSearch